/*  Theme Responsive Css */


@media only screen and (max-width: 1599px){

  .feature-block-four .inner-box{
    padding: 60px 30px;
  }

}



@media only screen and (max-width: 1200px){

  .main-header .header-lower .menu-right-content{
    padding: 0px;
    margin: 35px 0px 0px 0px;
  }

  .rtl .main-header.style-one .header-lower .menu-right-content{
    padding: 0px;
    margin: 35px 0px 0px 0px;
  }

  .main-header.style-one .header-lower .menu-right-content:before{
    display: none;
  }

  .main-header.style-two .header-lower .menu-right-content .btn-box{
    margin-left: 30px;
  }

  .rtl .main-header.style-two .header-lower .menu-right-content .btn-box{
    margin-right: 30px;
  }

  .about-style-two .content-box{
    margin-right: 0px;
  }

  .rtl #content_block_three .content-box{
    margin-left: 0px;
  }

  #image_block_two .image-box .content-box{
    left: 0px;
  }

  .rtl #image_block_two .image-box .content-box{
    right: 0px;
  }

  .our-mission .content-box{
    margin-right: 0px;
  }

  .rtl .our-mission .content-box{
    margin-left: 0px;
  }

  .view-plans .inner-container .text{
    float: none;
    display: block;
    margin-bottom: 15px;
  }

  .view-plans .inner-container .btn-box{
    float: none;
    display: block;
    margin: 0px;
  }

  .rtl .view-plans .inner-container .btn-box{
    float: right;
  }

  #content_block_six .tab-btn-box .tab-btns li{
    margin-right: 20px;
  }

  .main-header.style-three .header-lower .logo-box{
    float: none;
    display: block;
    text-align: center;
  }

  .main-header.style-three .menu-area{
    float: none;
  }

  .main-header.style-three .header-lower .menu-right-content{
    float: right;
  }

  .intro-section .upper-content .single-item .inner-box{
    padding: 48px 30px 54px 30px;
  }

  .main-header.style-three .sticky-header .menu-area{
    float: right;
  }

  .rtl .main-header.style-three .sticky-header .menu-area{
    float: left;
  }

  .service-style-three .upper-box .btn-box{
    position: relative;
    top: 0px;
  }

  .project-style-two .owl-dots{
    right: 0px;
  }

  .pricing-section .tab-btn-box{
    position: relative;
    text-align: center;
    top: 0px;
    margin-top: 30px;
  }

  .news-style-three .upper-box .btn-box{
    position: relative;
    top: 0px;
  }

  .main-footer .links-widget.ml-70{
    margin-left: 30px;
  }

  .main-header.style-four .header-lower .menu-right-content{
    padding-left: 10px;
  }

  .funfact-style-three #content_block_12 .content-box{
    margin-right: 0px;
  }

  .rtl .funfact-style-three #content_block_12 .content-box{
    margin-left: 0px;
  }

  .cta-style-two .sec-title-two,
  .cta-style-two .inner-box .btn-box{
    float: none;
    display: block;
  }

  .rtl .cta-style-two .inner-box .btn-box{
    float: right;
  }

  .main-header.style-five .header-top .top-inner{
    padding: 40px 25px 34px 25px;
  }

  .feature-block-four{
    width: 50%;
  }

  .service-style-five .tabs-box .tab-btn-box .tab-btns li{
    padding-right: 30px;
  }

  .service-details .service-sidebar{
    margin-left: 0px;
  }

  .rtl .service-details .service-sidebar{
    margin-right: 0px;
  }

  .service-details-content{
    margin-right: 0px;
  }

  .rtl .service-details-content{
    margin-left: 0px;
  }

  #content_block_two .content-box .single-progress-box{
    max-width: 100%;
    margin-bottom: 15px;
  }

  .news-block-four .inner-box{
    padding: 80px 60px;
  }

  .main-header.one-page .main-menu .navigation > li > a{
    padding-right: 0px;
  }

  .protect-form .inner-box{
    padding: 60px 100px;
  }

  .rtl .service-style-three .upper-box .btn-box{
    text-align: right;
  }

  .rtl .news-style-three .upper-box .btn-box{
    text-align: right;
  }

  .main-header .header-lower .menu-right-content{
    margin-left: 20px;
  }

  .rtl .main-header.style-one .header-lower .menu-right-content{
    margin-right: 20px;
  }


}



@media only screen and (min-width: 768px){
  .main-menu .navigation > li > ul,
  .main-menu .navigation > li > ul > li > ul,
  .main-menu .navigation > li > .megamenu{
    display:block !important;
    visibility:hidden;
    opacity:0;
  }
}



@media only screen and (max-width: 991px){
  /* .sponsors-section {
    padding: 50px 0px;
} */
  .main-menu,
  .sticky-header,
  .main-header.style-one .outer-container:before{
    display: none !important;
  }

  .menu-area .mobile-nav-toggler {
    display: block;
    margin-top: 42px;
    padding: 10px;
  }

  .mobile-menu .navigation > li.dropdown > .megamenu li h4{
    display: none;
  }

  .main-header.style-one .menu-area .mobile-nav-toggler .icon-bar{
    background: #222;
  }

  .feature-block-one .inner-box{
    margin-bottom: 140px;
  }

  .about-section .video-inner{
    margin: 0px 0px 50px 0px !important;
  }

  .title-box .sec-title{
    text-align: center !important;
  }

  .title-box .text{
    padding: 0px;
    text-align: center;
  }

  .service-block-one .inner-box{
    border-bottom: none !important;
  }

  .project-block-one .inner-box .lower-content{
    padding: 30px 30px;
  }

  #image_block_one .image-box .pattern-layer{
    display: none;
  }

  .annual-stats #image_block_one .image-box{
    margin: 0px !important;
  }

  .support-section .inner-container .info-inner{
    margin: 0px !important;
  }

  .title-box .sec-title{
    padding: 0px !important;
  }

  .title-box .sec-title:before{
    display: none;
  }

  .news-block-one .inner-box{
    margin-bottom: 30px;
  }

  .cta-section .title{
    float: none;
    display: block;
    margin: 0px 0px 15px 0px;
  }

  .cta-section .btn-box{
    float: none;
    display: block;
  }

  .fun-fact .counter-column:before{
    display: none;
  }

  .counter-block-one{
    margin: 15px 0px;
  }

  .main-footer .widget-section .footer-widget{
    margin: 0px 0px 30px 0px !important;
  }

  .main-footer .footer-top{
    padding-bottom: 63px;
  }

  .news-section{
    padding-bottom: 70px;
  }

  .feature-section{
    padding-bottom: 50px !important;
  }

  #content_block_two .content-box{
    padding-bottom: 50px;
  }

  .main-header.style-two .logo-box{
    display: block;
    float: none !important;
    text-align: center;
    margin-bottom: 30px;
  }

  .main-header.style-two .header-upper .info-box{
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
    float: none;
  }

  .main-header.style-two .header-upper .info-box .info-list li{
    margin-right: 15px;
  }

  .main-header.style-two .menu-area .mobile-nav-toggler .icon-bar{
    background: #fff;
  }

  .main-header.style-two .menu-area .mobile-nav-toggler{
    margin-top: 20px;
  }

  .main-header.style-two .header-lower .menu-right-content{
    float: left;
  }

  .main-header.style-two .header-lower .menu-right-content .btn-box{
    float: left;
    margin-left: 0px;
  }

  .main-header.style-two .header-lower .outer-box .menu-area{
    padding-left: 0px;
  }

  .main-header.style-two .header-lower .menu-right-content .search-btn{
    padding: 20px 0px 0px 30px !important;
    margin: 0px !important;
  }

  .rtl .main-header.style-two .header-lower .menu-right-content .btn-box{
    margin-right: 0px;
  }

  .main-header.style-two .header-lower .menu-right-content .search-btn:before{
    display: none;
  }

  .rtl .main-header.style-two .header-lower .outer-box .menu-area{
    padding-right: 0px;
  }

  .feature-block-two .inner-box{
    margin-bottom: 72px;
  }

  .our-mission .content-box{
    margin-bottom: 30px;
  }

  .policy-section #content_block_five .content-box{
    margin: 0px 0px 30px 0px !important;
  }

  .main-header.style-three .header-lower .menu-right-content{
    float: left;
    margin-left: 0px;
    padding-left: 0px;
  }

  .main-header.style-three .menu-area .mobile-nav-toggler .icon-bar{
    background: #222;
  }

  .main-header.style-three .header-lower .outer-box{
    padding-bottom: 20px;
  }

  .main-header.style-three .menu-area .mobile-nav-toggler{
    margin-top: 50px;
  }

  .intro-section .upper-content .single-item .inner-box:before{
    display: none;
  }

  .info-style-two #video_block_two .video-content{
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .rtl .info-style-two #video_block_two .video-content{
    margin-left: 0px;
  }

  .service-style-three .upper-box .title-inner .sec-title{
    width: 100%;
  }

  .service-style-three .upper-box .title-inner .text{
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 15px;
  }

  .counter-block-two{
    margin: 15px 0px;
  }

  .chart-section #content_block_eight .content-box{
    margin: 0px 0px 30px 0px;
  }

  .chart-section .chart-box{
    margin-left: 0px;
  }

  .pricing-section .upper-box .title-inner .sec-title{
    width: 100%;
  }

  .pricing-section .upper-box .title-inner .text{
    padding-left: 0px;
    width: 100%;
  }

  .pricing-section .upper-box .title-inner .text:before{
    display: none;
  }

  .pricing-block-one .pricing-table{
    margin-bottom: 30px;
  }

  .pricing-section{
    padding-bottom: 70px;
  }

  .contact-section:before{
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(24,12,84,0.9) 100%);
  }

  .news-style-three .upper-box .title-inner .sec-title{
    width: 100%;
  }

  .news-style-three .upper-box .title-inner .text{
    padding-left: 0px;
    margin: 0px;
    width: 100%;
    margin-bottom: 15px;
  }

  .news-style-three .pattern-layer{
    display: none;
  }

  .main-footer .footer-upper .upper-inner .text{
    float: none;
    display: block;
    margin-bottom: 15px;
  }

  .main-footer .footer-upper .upper-inner .btn-box{
    margin: 0px;
    float: none;
    display: block;
  }

  .rtl .main-footer.alternet-3 .footer-upper .upper-inner .btn-box{
    float: right;
  }

  .feature-block-three .inner-box:before{
    display: none;
  }

  .feature-block-three .inner-box{
    margin-bottom: 30px;
  }

  #image_block_three .image-box{
    margin-right: 0px;
  }

  .rtl #image_block_three .image-box{
    margin-left: 0px;
  }

  .working-block-one{
    margin: 15px 0px;
  }

  .skills-section .image-box{
    margin: 0px 0px 30px 0px;
  }

  .rtl .skills-section .image-box{
    margin-left: 0px;
  }

  .sec-title-two h2:before{
    display: none;
  }

  .skills-section #content_block_13 .content-box{
    margin: 0px !important;
  }

  .main-header.style-five .logo-box{
    float: none !important;
    display: block !important;
    text-align: center !important;
    margin-bottom: 15px !important;
  }

  .main-header.style-five .header-top .top-inner .info-box{
    float: none;
    max-width: 690px;
    width: 100%;
    margin: 0 auto;
  }

  .main-header.style-five .header-lower .menu-right-content:before{
    display: none;
  }

  .main-header.style-five .menu-area .mobile-nav-toggler{
    margin-top: 20px;
  }

  .main-header.style-five .header-lower .outer-box{
    padding-left: 10px;
  }

  .rtl .main-header.style-five .header-top .top-inner .info-box{
    float: none;
  }

  .banner-section.style-five .owl-theme .owl-nav{
    display: none;
  }

  #image_block_four .image-box{
    margin-left: 0px;
  }

  .rtl #image_block_four .image-box{
    margin-right: 0px;
  }

  .counter-block-four{
    margin: 15px 0px;
  }

  .working-style-two .working-block-two .inner-box .border-box{
    display: none;
  }

  .working-style-two .working-block-two{
    margin-bottom: 50px;
  }

  .working-style-two{
    padding-bottom: 60px;
  }

  .info-section .title-inner{
    margin-bottom: 30px;
  }

  .main-header.style-six .header-lower .menu-right-content{
    margin-top: 15px;
  }

  .main-header.style-six .header-lower .logo-box{
    padding-top: 15px;
  }

  .main-header.style-six .menu-area .mobile-nav-toggler .icon-bar{
    background: #222;
  }

  .main-header.style-six .menu-area .mobile-nav-toggler{
    margin-top: 25px;
  }

  .main-header.style-six .header-lower{
    padding-bottom: 15px;
  }

  .feature-style-four.about-page-2 .feature-block-four{
    width: 50%;
  }

  .rtl .main-header.style-six .header-lower .menu-right-content{
    margin-top: 15px;
  }

  .rtl .main-header.style-six .header-lower .menu-right-content .nav-btn{
    margin-right: 12px;
  }

  .team-block-three .inner-box{
    margin-bottom: 30px;
  }

  .team-style-three{
    padding-bottom: 70px;
  }

  .blog-classic-content{
    margin-right: 0px;
  }

  .rtl .blog-classic-content{
    margin-left: 0px;
  }

  .sidebar-page-container .sidebar{
    margin-top: 40px;
  }

  .blog-details-content{
    margin-right: 0px;
  }

  .rtl .blog-details-content{
    margin-left: 0px;
  }

  .contact-information .single-item .inner-box{
    margin-bottom: 30px;
  }


}


@media only screen and (max-width: 767px){
  .sponsors-outer .auto-container{
    width: 1005px;
  }
  .feature-block-two .inner-box .lower-content .inner {
    box-shadow: 0 -10px 20px rgb(0 0 0 / 10%);
    /* transition: all 500ms ease; */
    height: 65px;
    border-bottom: 1px solid #fcf4f4;
  }
  .sponsors-outer .image-box img{
    width: 100%;
  }
  .owl-stage{
    bottom:-57px;
  }
  .desk-view{
    display: none;
  }
  .mobile-view{
    display: block !important;
  }
  .main-footer .mid-part .inner h3{
    font-size: 27px;
  }
  .main-footer .top-part .newsletter-form button{
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .content-box{
    margin-left: 0px;
  }
  .mobile-view{
    display: none;
  }
  .main-header.style-one .header-lower .menu-right-content .nav-btn {
    margin-right: 10px;
}
  .sec-pad{
    padding: 70px 0px !important;
  }

  .main-header.style-one .header-top .top-left{
    float: none !important;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }

  .main-header.style-one .header-top .top-right{
    float: none !important;
    display: block;
    text-align: center;
  }

  .banner-carousel .slide-item{
    padding-bottom: 120px;
  }

  .owl-nav,
  .owl-dots{
    display: none !important;
  }

  .info-section,
  .about-section{
    padding: 70px 0px;
  }

  .service-block-one .inner-box{
    padding-bottom: 0px;
  }

  .service-section{
    padding: 70px 0px 30px 0px;
  }

  .project-block-one .inner-box .lower-content h2{
    font-size: 24px;
    line-height: 30px;
  }

  .annual-stats{
    padding: 70px 0px;
  }

  #content_block_two .content-box .single-progress-box .piechart{
    margin-bottom: 10px;
  }

  .support-section .inner-container .inner-box{
    margin-right: 0px;
  }

  .support-section .inner-container .inner-box{
    padding: 70px 30px;
  }

  .main-footer .footer-top{
    padding: 70px 0px 40px 0px;
  }

  .clients-section{
    padding: 50px 0px;
  }

  .news-section{
    padding: 70px 0px 40px 0px;
  }

  .testimonial-section{
    padding: 720px 0px 50px 0px;
  }
  
  .main-header.style-two .header-top .info{
    float: none !important;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  .main-header.style-two .header-top .top-right{
    float: none !important;
    display: block;
    text-align: center;
  }

  .main-header.style-two .header-upper .info-box{
    text-align: center;
  }

  .main-header.style-two .header-upper .info-box .info-list li{
    text-align: left;
    margin-bottom: 30px;
  }

  .main-header.style-two .header-upper{
    padding-bottom: 20px;
  }

  .banner-section.style-two .banner-carousel .slide-item{
    padding: 170px 0px 120px 0px;
  }

  .feature-style-two{
    padding: 70px 0px 40px 0px;
  }

  .about-style-two .pattern-layer{
    display: none;
  }

  .service-style-two{
    padding: 70px 0px;
  }

  .protect-form .inner-box{
    padding: 60px 30px;
  }

  .our-mission{
    padding: 350px 0px 70px 0px;
  }

  .team-section .upper-box .sec-title{
    float: none;
    display: block;
  }

  .team-section .upper-box .btn-box{
    float: none;
    display: block;
    margin: 0px;
  }

  .team-section,
  .testimonial-style-two,
  .policy-section{
    padding: 70px 0px;
  }

  .view-plans .pattern-layer{
    display: none;
  }

  .banner-section.style-three .banner-carousel .slide-item{
    padding-bottom: 150px;
  }

  .intro-section .upper-content .single-item .inner-box{
    padding: 0px 30px;
    margin-bottom: 30px;
  }

  .intro-section .upper-content,
  .service-style-three{
    padding: 70px 0px 40px 0px;
  }

  .funfact-style-two{
    padding-bottom: 60px;
  }

  .chart-section{
    padding: 70px 0px;
  }

  .project-style-two,
  .contact-section{
    padding: 70px 0px;
  }

  .pricing-section{
    padding: 70px 0px 40px 0px;
  }

  .testimonial-section.alternet-2{
    padding: 70px 0px 50px 0px;
  }

  .news-style-three .left-block{
    margin-right: 0px;
  }

  .rtl .news-style-three .left-block{
    margin-left: 0px;
  }

  .news-style-three{
    padding: 70px 0px;
  }

  .news-style-three .right-block{
    margin-left: 0px;
  }

  .rtl .news-style-three .right-block{
    margin-right: 0px;
  }

  .news-block-two .inner-box{
    margin-bottom: 30px;
  }

  .service-block-three .inner-box .lower-content{
    padding: 40px 30px;
  }

  .banner-section.style-four .banner-carousel .slide-item{
    padding: 120px 0px;
  }

  .feature-style-three{
    padding: 70px 0px;
  }

  .about-style-three{
    padding: 70px 0px;
  }

  .working-section{
    padding: 70px 0px;
  }

  .service-style-four{
    padding: 70px 0px 20px 0px;
  }

  .funfact-style-three .counter-block:last-child .counter-block-three{
    margin-bottom: 0px;
  }

  .funfact-style-three,
  .skills-section,
  .project-style-three,
  .team-style-two{
    padding: 70px 0px;
  }

  .testimonial-section.alternet-3{
    padding: 70px 0px 60px 0px;
  }

  .main-header.style-five .header-top .top-inner .info-box{
    text-align: center;
  }

  .main-header.style-five .header-top .top-inner .info-box ul li{
    text-align: left;
    margin-bottom: 15px;
  }

  .main-header.style-five{
    position: relative;
  }

  .main-header.style-five .header-top .top-inner{
    background: #222;
  }

  .banner-section.style-five .banner-carousel .slide-item{
    padding: 120px 0px;
  }

  .feature-block-four{
    width: 100%;
  }

  .about-style-four,
  .service-style-five{
    padding: 70px 0px;
  }

  .funfact-style-four{
    padding-bottom: 60px;
  }

  .service-style-five .tabs-content .image-box{
    margin: 0px 0px 30px 0px;
  }

  .project-style-four .title-inner .btn-box,
  .project-style-four .title-inner .sec-title{
    float: none;
    display: block;
  }

  .project-style-four{
    padding: 70px 0px 70px 0px;
  }

  .video-section,
  .clients-section.home-5,
  .about-style-two.about-page-1{
    padding: 70px 0px;
  }

  .working-style-two{
    padding: 70px 0px 20px 0px;
  }

  .news-style-three.alterner-2 .title-inner .btn-box,
  .news-style-three.alterner-2 .title-inner .sec-title{
    float: none;
    display: block;
  }

  .news-style-three.alterner-2{
    padding-top: 70px;
  }

  .world-cyber.about-page-1{
    padding: 70px 0px;
  }

  .feature-block-four .inner-box{
    padding: 60px 25px;
  }
  
  .team-block-one{
    max-width: 300px;
    margin: 0 auto;
  }

  .team-block-three,
  .service-block-three{
    max-width: 400px;
    margin: 0 auto;
  }

  .service-style-three.service-page-2{
    padding: 70px 0px 40px 0px;
  }
  
  .service-details-content .content-style-two .image-box .image{
    margin-bottom: 30px;
  }

  .service-details-content{
    margin-bottom: 40px;
  }

  .news-block-three .inner-box .lower-content{
    padding-left: 30px;
  }

  .news-block-four .inner-box{
    padding: 80px 30px;
  }

  .world-cyber.contact-page{
    padding: 70px 0px;
  }

  .project-style-two .project-inner .content-box{
    position: relative;
    top: 0px;
    right: 0px;
    margin: 30px 0px;
  }
  
  .feature-style-four.about-page-2 .feature-block-four{
    width: 100%;
  }

  .blog-details-content .inner-box .image-box{
    margin-bottom: 30px;
  }

  .about-section .content-box{
    margin-right: 0px;
  }

  .rtl .about-section .content-box{
    margin-left: 0px;
  }

  .service-style-five .tabs-content .content-box{
    margin-left: 0px;
  }

  .rtl .service-style-five .tabs-content .content-box{
    margin-right: 0px;
  }

  .main-footer.alternet-5 .footer-top{
    padding: 70px 0px 40px 0px;
  }

  .banner-carousel .content-box{
    max-height: 100% !important;
    min-height: 100% !important;
  }


}

@media only screen and (max-width: 599px){
  
  .main-header .header-lower .menu-right-content .btn-box{
    display: none;
  }

  .main-header .header-lower .menu-right-content{
    margin-top: 43px;
  }

  .main-header.style-one .header-lower .menu-right-content .nav-btn{
    margin-right: 10px;
  }

  .banner-carousel .content-box h1{
    font-size: 50px !important;
    line-height: 55px !important;
  }

  .info-section .title-inner .year-box{
    position: relative;
    margin-bottom: 15px;
  }

  .info-section .title-inner{
    padding: 0px !important;
  }

  .info-section .title-inner{
    display: block;
  }

  .sec-title h2{
    font-size: 32px !important;
    line-height: 40px !important;
  }

  .protect-form .inner-box .zip-form .form-group input[type='text']{
    width: 100%;
    margin-bottom: 15px;
  }

  .protect-form .inner-box .zip-form .form-group button{
    float: none;
    width: 100%;
  }

  .protect-form .inner-box .zip-form .form-group{
    text-align: left;
  }

  .protect-form .inner-box h2,
  .sec-title-two h2{
    font-size: 32px;
    line-height: 40px;
  }

  .stats-section .single-item{
    padding-bottom: 50px;
  }

  .stats-section{
    padding-bottom: 20px;
  }

  .view-plans .inner-container{
    padding: 60px 30px;
  }

  .banner-carousel .content-box .btn-box .user-btn{
    margin-top: 15px;
  }

  #image_block_three .image-box .icon-box{
    display: none;
  }

  .counter-block-three{
    margin-bottom: 50px;
  }

  .main-header.style-five .header-lower{
    padding-bottom: 15px;
  }

  .video-section .inner-box h2{
    font-size: 40px;
    line-height: 50px;
  }

  .page-title .content-box h1{
    font-size: 45px;
    line-height: 55px;
  }

  .main-header.style-six .header-lower .menu-right-content{
    margin-top: 27px;
  }

  .news-block-three .inner-box .image-box .category,
  .blog-details-content .image-box .category{
    left: 15px;
    bottom: 15px;
  }

  .project-style-two .project-inner{
    padding: 0px;
  }

  .info-section .title-inner .title h2{
    font-size: 30px;
    line-height: 36px;
  }

  .service-details-content .content-style-two{
    padding-bottom: 0px;
  }

  .blog-details-content .inner-box{
    padding: 0px 30px;
  }

  .project-style-two .project-inner .content-box{
    padding: 45px 30px;
  }

  .news-block-two .inner-box .lower-content{
    padding: 0px 30px 30px 30px;
  }

  .news-block-two .inner-box .lower-content h3{
    font-size: 24px;
    line-height: 30px;
  }

  .main-header.style-five .header-lower .menu-right-content .search-btn{
    margin-top: 15px;
  }

  .project-block-three .inner-box .lower-content .inner{
    padding: 40px 30px;
  }

  .project-block-three .inner-box .lower-content .inner{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
  }

  .project-block-three .inner-box{
    margin-bottom: 0px;
  }

  .service-block-one .inner-box{
    margin-right: 0px;
  }


}


@media only screen and (max-width: 499px){

  .main-header.style-three .header-lower .menu-right-content .support-box{
    display: none;
  }

  .main-header.style-three .menu-area .mobile-nav-toggler{
    margin-top: 10px;
  }

  .main-header.style-four .menu-area .mobile-nav-toggler{
    margin-top: 38px;
  }

  .blog-details-content .post-share-option .post-tags,
  .blog-details-content .post-share-option .post-share{
    float: none !important;
    display: block;
  }

  .blog-details-content .comments-area .comment .comment-inner .comment-info .name{
    float: none !important;
    display: block;
    margin-bottom: 10px;
  }

  .blog-details-content .comments-area .comment .comment-inner .comment-info .info{
    float: none !important;
    display: block;
  }

  .search-popup .search-form fieldset input[type="submit"]{
    position: relative;
    width: 100%;
    border-radius: 7px;
  }

  .search-popup .search-form fieldset input[type="search"]{
    margin-bottom: 10px;
  }

  .support-section .inner-container .info-inner .info-box h2{
    font-size: 32px;
    line-height: 40px;
  }

  .project-style-three .filters .filter-tabs li{
    margin: 0px 10px;
  }

}


@media only screen and (max-width: 399px){

  .main-header .header-lower .menu-right-content .nav-btn{
    display: none;
  }

  .main-header.style-two .header-top .info li{
    margin-right: 25px;
  }

  .main-header.style-two .header-top li:before{
    right: -15px;
  }

  .main-header.style-two .header-top .social-links li{
    margin-right: 30px;
  }

  .main-header.style-two .header-lower .menu-right-content .btn-box{
    display: none;
  }

  .main-header.style-two .header-lower .outer-box .menu-area{
    padding-bottom: 15px;
  }

  .main-header.style-two .header-lower .menu-right-content .search-btn {
    padding: 23px 0px 0px 15px !important;
  }

  #content_block_seven .content-box .support-box .box h3{
    font-size: 24px;
  }

  .main-header.style-four .outer-box .logo-box{
    float: none !important;
    display: block;
    width: 100%;
    text-align: center;
  }

  .main-header.style-four .header-lower .menu-area{
    float: none !important;
  }

  .main-header.style-four .header-lower .menu-right-content{
    margin-top: 0px;
    padding-bottom: 15px;
  }

  .main-header.style-four .menu-area .mobile-nav-toggler{
    margin-top: 8px;
  }

  .rtl .main-header.style-four .header-lower .menu-right-content{
    margin: 0px;
    float: none;
  }

  .rtl .main-header.style-four .header-lower .menu-right-content .search-btn{
    float: none;
    margin: 0px;
  }

  #content_block_ten .content-box .year-box{
    padding-left: 0px;
  }

  #content_block_ten .content-box .year-box .image-box{
    position: relative;
    margin-bottom: 15px;
  }

  .rtl .main-header.style-six .header-lower .menu-right-content .search-btn{
    top: 15px;
  }

  .error-section .content-box h1{
    font-size: 160px;
  }

  .service-details-content #content_block_two .content-box .single-progress-box .piechart{
    float: none;
    width: 100%;
  }

  .service-details-content #content_block_two .content-box .single-progress-box .text{
    float: none !important;
    width: 100%;
    text-align: center !important;
    padding: 0px;
  }

  .news-block-four .inner-box .content-box .box{
    padding-left: 0px;
    text-align: center;
  }

  .news-block-four .inner-box .content-box .box .link-box{
    position: relative;
    top: 0px;
    margin-bottom: 15px;
  }


}
